body { margin: 0; background: #1a1a1a; font-family: sans-serif; overflow: hidden; }
#game-container { display: flex; height: 100vh; }
#sidebar { width: 380px; padding: 20px; background: #252525; border-right: 2px solid #00ff41; display: flex; flex-direction: column; z-index: 10; }
#canvas-area { flex-grow: 1; display: flex; justify-content: center; align-items: center; background: #333; }
canvas { background: white; border: 5px solid #000; }

#codeEditor {
    width: 100% !important;
    height: 150px !important;
    background: #000 !important;
    color: #00ff41 !important;
    border: 1px solid #00ff41;
    font-family: 'Courier New', monospace;
    padding: 15px;
    font-size: 16px;
    display: block !important; /* Forzamos que se vea */
    cursor: text !important; /* Forzamos el cursor de escritura */
}

#console-output { margin: 15px 0; padding: 10px; background: #000; color: #fff; font-size: 12px; height: 50px; border-left: 3px solid #ff4141; }
#run-btn { padding: 15px; background: #00ff41; color: #000; border: none; font-weight: bold; cursor: pointer; border-radius: 4px; }
#run-btn:active { background: #008f11; }
