body {
    margin: 0;
    background-color: #1a1a1a;
    font-family: 'Fira Code', monospace;
    color: #00ff41;
}

#game-container {
    display: flex;
    height: 100vh;
}

#sidebar {
    width: 40%;
    padding: 30px;
    background: #252525;
    border-right: 2px solid #00ff41;
    display: flex;
    flex-direction: column;
}

#canvas-area {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0,255,65,0.2);
}

code {
    background: #000;
    padding: 2px 5px;
    color: #ffb86c;
}

#console-output {
    margin-top: 20px;
    padding: 10px;
    background: #000;
    height: 100px;
    overflow-y: auto;
    font-size: 0.8em;
    border-left: 3px solid #00ff41;
}

#run-btn {
    margin-top: auto;
    padding: 15px;
    background: #00ff41;
    color: #000;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#run-btn:hover { background: #008f11; }
