body { margin: 0; background-color: #1a1a1a; font-family: sans-serif; color: #00ff41; overflow: hidden; }
#game-container { display: flex; height: 100vh; }
#sidebar { width: 400px; padding: 20px; background: #252525; border-right: 2px solid #00ff41; display: flex; flex-direction: column; }
#canvas-area { flex-grow: 1; display: flex; justify-content: center; align-items: center; background: #333; }
canvas { background: white; border-radius: 4px; }

/* Estilo del Editor */
#codeEditor {
    width: 100%;
    height: 150px;
    background: #000;
    color: #f1c40f;
    border: 1px solid #444;
    font-family: 'Courier New', monospace;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    resize: none;
    outline: none;
}

#console-output {
    margin: 10px 0;
    padding: 10px;
    background: #000;
    height: 60px;
    font-size: 12px;
    border-left: 3px solid #ff4141;
}

#run-btn {
    padding: 15px;
    background: #00ff41;
    color: #000;
    border: none;
    font-weight: bold;
    cursor: pointer;
}
