body { margin: 0; font-family: 'Comic Sans MS', sans-serif; background: #222; color: white; }
#game-container { display: flex; height: 100vh; }

#sidebar { 
    width: 350px; background: #333; padding: 20px; 
    display: flex; flex-direction: column; border-right: 4px solid #555;
}

#editor { 
    flex-grow: 1; background: #000; color: #0f0; 
    font-family: monospace; font-size: 18px; padding: 15px;
    border: 2px solid #888; border-radius: 8px; margin-bottom: 10px;
}

#btn { 
    padding: 20px; font-size: 20px; font-weight: bold; 
    background: #ffcc00; border: none; cursor: pointer; border-radius: 8px;
}

#consola { background: #111; padding: 10px; margin-top: 10px; font-size: 14px; min-height: 40px; color: #aaa; }

#canvas-area { flex-grow: 1; display: flex; flex-direction: column; align-items: center; justify-content: center; background: #444; }
canvas { background: white; border: 10px solid #222; border-radius: 5px; }
#figura-nombre { color: #ffcc00; margin-top: 20px; }
